services:
  mysql:
    image: "mysql/mysql-server:8.0"
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - .env

  app:
    build:
      context: ./laravel
      dockerfile: Dockerfile
    image: laravel-app
    volumes:
      - './laravel:/app'
      - '.env:/app/.env'
    depends_on:
      - mysql
    # env_file:
    #   - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.boilerplate.local`)"
      - "traefik.http.services.api.loadbalancer.server.port=80"
    
  pma:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - mysql
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pma.rule=Host(`pma.boilerplate.local`)"
      - "traefik.http.services.pma.loadbalancer.server.port=80"
      # - "traefik.http.routers.pma.middlewares=pma-auth"
      # - "traefik.http.middlewares.pma-auth.basicauth.users=admin:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/"

  nuxt:
    build:
      context: ./nuxt
      dockerfile: Dockerfile
    image: nuxt-app
    environment:
      - APP_URL=${APP_URL}
      - FRONTEND_URL=${FRONTEND_URL}
    volumes:
      - ./nuxt:/app
    depends_on:
      - app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`app.boilerplate.local`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"

  traefik:
    image: traefik:latest
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "443:443"
      - "9000:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  mysql_data: